@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

/**************** General styling *****************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: hsl(0, 0%, 98%);
	font-family: "Public Sans", sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}

img {
	max-width: 100%;
}

p {
	color: #9698a6;
}

h1,
h2,
h3,
h4,
h5 {
	color: #2d314d;
	font-weight: 400;
}

.container {
	width: 90%;
	max-width: 1100px;
	margin: 0 auto;
}

.cta {
	background-image: linear-gradient(
		to right,
		#31d35c,
		#00d192,
		#00cbbb,
		#00c2d4,
		#2bb7da
	);
	color: white;
	font-family: inherit;
	padding: 0.8em 1.7em;
	font-weight: 700;
	border: none;
	border-radius: 2em;
	cursor: pointer;
	transition: opacity 0.4s ease;
}

.cta:focus {
	outline: none;
}

.cta:hover {
	opacity: 0.8;
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	transition: transform 0.4s ease-in-out;
}

/**************** Header *****************/
header {
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 1;
}

/**************** Navbar *****************/
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 12vh;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.burger {
	display: none;
}

.navbar ul {
	display: flex;
	align-items: center;
}

.navbar ul li {
	margin-right: 2em;
}

.navbar ul li:last-child {
	margin-right: 0;
}

.navbar ul li a {
	position: relative;
	padding-bottom: 1.8em;
	color: #9698a6;
	transition-timing-function: ease-in-out;
}

.navbar ul li a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.3em;
	background-image: linear-gradient(
		to right,
		#1eac44,
		#00d192,
		#00cbbb,
		#00c2d4,
		#2bb7da
	);
	transform: scale(0, 1);
	transition: transform 0.4s ease;
	transform-origin: 0% 100%;
}

.navbar ul li a:hover {
	color: #2d314d;
}

.navbar ul li a:hover::after {
	transform: scale(1, 1);
}

/**************** Hero Section *****************/
.container .hero {
	margin-right: -20%;
}

.hero {
	display: flex;
	min-height: 88vh;
}

main {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

main .cta {
	align-self: flex-start;
}

.main-title {
	font-size: 4rem;
}

.main-content {
	line-height: 1.5;
	margin: 2em 0;
}

.hero-image-wrapper {
	flex: 1.5;
}

.hero-image-wrapper {
	background: url("./images/bg-intro-desktop.svg") no-repeat bottom 20% left 30% /
		950px;
	position: relative;
}

.hero-image {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
}

/**************** Why us Section *****************/
.why-us {
	background-color: hsl(220, 16%, 96%);
	padding: 5em 0;
}

.section-title {
	font-size: 2.5rem;
}

.section-content {
	width: 50%;
	margin: 1em 0 4em 0;
}

.cards {
	display: flex;
}

.card {
	margin-right: 1em;
}

.card:last-child {
	margin-right: 0;
}

.card-title {
	margin: 1.5em 0 1em 0;
	font-size: 1.3rem;
}

.card-content {
	line-height: 1.5;
}

/**************** Latest Articles *****************/

.latest-articles {
	padding: 5em 0;
}

.latest-articles .section-title {
	margin-bottom: 1em;
}

.articles {
	display: flex;
	justify-content: space-between;
}

.articles article {
	width: 23%;
	border-radius: 0.3em;
	overflow: hidden;
}

.article-img {
	object-fit: cover;
	height: 150px;
	width: 100%;
}

.article-content {
	padding: 1em;
	background-color: white;
	font-size: 14px;
}

.article-content small {
	font-size: 0.65rem;
	color: #9698a6;
}

.article-title {
	font-size: 1rem;
	margin: 0.5em 0;
}

.article-text {
	font-size: 0.8rem;
}

/**************** Footer *****************/
footer {
	background-color: hsl(233, 26%, 24%);
	color: white;
	padding: 1.5em 0;
}

.footer-container,
.bottom-navbar {
	display: flex;
}

.social-media-navbar,
.bottom-navbar ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.social-media-navbar img {
	width: 150px;
}

.social-media-navbar ul {
	display: flex;
	color: white;
}

.social-media-navbar,
.bottom-navbar,
.attribution-wrapper {
	flex: 1;
}

.social-media-navbar i,
.bottom-navbar ul li a {
	color: white;
	font-size: 0.8rem;
}

.social-media-navbar i {
	font-size: 1.5rem;
	margin-right: 0.8em;
}

.social-media-navbar i,
.bottom-navbar ul li a,
.article-title,
.attribution a {
	transition: color 0.25s ease-in-out;
}

.social-media-navbar i:hover,
.bottom-navbar ul li a:hover,
.article-title:hover,
.attribution a:hover {
	color: #33daa2;
	cursor: pointer;
}

.bottom-navbar {
	justify-content: space-around;
}

.attribution-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}

.copyright {
	margin: 0.5em 0;
}

.copyright,
.attribution {
	font-size: 0.7rem;
	color: #9698a6;
}

.attribution a {
	color: #ffffff;
}

/**************** Media Queries *****************/
@media only screen and (max-width: 1125px) {
	.main-title {
		font-size: 2.5rem;
	}
}

@media only screen and (max-width: 900px) {
	.navbar ul,
	.navbar .cta {
		display: none;
	}

	.burger {
		display: block;
		cursor: pointer;
	}

	.container .hero {
		margin-right: 0;
	}

	.container.hero-container {
		width: 100%;
	}

	.hero {
		flex-direction: column-reverse;
	}

	.hero-image {
		position: static;
		transform: translate(0%, -20%);
	}

	main {
		text-align: center;
		width: 90%;
		margin: 0 auto;
	}

	main .cta {
		margin-bottom: 4em;
		align-self: center;
	}

	.latest-articles {
		padding: 2em 0;
	}

	.why-us {
		padding: 2em 0;
	}

	.section-title {
		text-align: center;
		font-size: 2rem;
	}

	.articles {
		flex-direction: column;
	}

	.section-content,
	.articles article {
		width: 100%;
		text-align: center;
	}

	.articles article {
		margin-bottom: 3em;
	}

	.article-img {
		height: 200px;
	}

	.cards {
		flex-direction: column;
	}

	.card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-right: 0;
		margin-bottom: 2em;
	}

	.card:last-child {
		margin-bottom: 0;
	}

	.card-content {
		text-align: center;
	}

	.footer-container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.light-logo {
		margin: 2em 0;
	}

	.social-media-navbar {
		align-items: center;
	}

	.bottom-navbar {
		width: 100%;
		flex-direction: column;
		align-items: center;
		margin: 1.5em 0;
	}

	.bottom-navbar ul {
		justify-content: center;
		align-items: center;
		line-height: 2;
	}

	.attribution-wrapper {
		align-items: center;
	}

	.attribution-wrapper .cta {
		margin-bottom: 2em;
	}
}

@media only screen and (max-width: 375px) {
	.hero-image-wrapper {
		background: url("./images/bg-intro-mobile.svg") no-repeat;
	}
}
