@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: hsl(0, 0%, 98%);
	font-family: "Public Sans", sans-serif;
	font-size: 16px;
	overflow-x: hidden;
}

p {
	color: #9698a6;
}

h1,
h2,
h3,
h4,
h5 {
	color: #2d314d;
	font-weight: 400;
}

img {
	max-width: 100%;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.hero {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

.hero-image-wrapper {
	background: url("./images/bg-intro-mobile.svg") no-repeat;
}

header {
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 1;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding: 1em 0; */
	height: 12vh;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.navbar ul {
	display: flex;
	align-items: center;
}

.navbar ul li {
	margin-right: 2em;
}

.navbar ul li:last-child {
	margin-right: 0;
}

.navbar ul li a {
	position: relative;
	padding-bottom: 1.8em;
	color: #9698a6;
}

.navbar ul li a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.3em;
	background-image: linear-gradient(
		to right,
		#1eac44,
		#00d192,
		#00cbbb,
		#00c2d4,
		#2bb7da
	);
	transform: scale(0, 1);
	transition: transform 0.4s ease;
	transform-origin: 0% 100%;
}

.navbar ul li a:hover {
	color: #2d314d;
}

.navbar ul li a:hover::after {
	transform: scale(1, 1);
}

.cta {
	background-image: linear-gradient(
		to right,
		#31d35c,
		#00d192,
		#00cbbb,
		#00c2d4,
		#2bb7da
	);
	color: white;
	font-family: inherit;
	padding: 0.8em 1.7em;
	font-weight: 700;
	border: none;
	border-radius: 2em;
	cursor: pointer;
	transition: opacity 0.4s ease;
}

.cta:focus {
	outline: none;
}

.cta:hover {
	opacity: 0.8;
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	transition: transform 0.4s ease-in-out;
}

.hero {
	margin-left: 5%;
}

.hero-image-wrapper {
	border: 1px solid red;
	position: relative;
	height: 500px;
	width: 100%;
}

.hero-image {
	/* position: absolute; */
	/* height: 600px; */
	/* width: auto; */
	/* top: -3em;
	left: 5em; */
}

@media only screen and (min-width: 375px) {
	.hero-image-wrapper {
		background: url("./images/bg-intro-desktop.svg") no-repeat bottom 50% left
			10% / 950px;
		position: relative;
		height: 300px;
	}

	.hero-image {
		position: absolute;
		/* height: 600px; */
		/* width: auto; */
		top: -3em;
		left: 5em;
	}
}

@media only screen and (min-width: 700px) {
	.hero {
		flex-direction: row;
	}

	.hero main,
	.hero-image-wrapper {
		flex: 1;
	}
}
